* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #000000;
}

.brand-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #2ecc71;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.menu-item {
    cursor: pointer;
}

.login-button {
    background-color: #2ecc71;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.4rem 0.75rem;
    border-radius: 20px;
}

.cart-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-count {
    background-color: #fff;
    color: #2ecc71;
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: #faebd7;
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 30px;
    transition: 0.4s ease-in-out all;
    max-width: 100%;
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.carousel-slide h2 {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Product Section */

.products-section h2 {
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card {
    width: 25%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.product-card img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.product-card p {
    margin-top: 0.25rem;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.product-actions button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product-actions button:hover {
    background-color: #2ecc7180;
}

.product-actions button.add-to-wishlist {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.product-actions button.add-to-wishlist span {
    margin-right: 0.25rem;
}

/* Wishlist Page */

.wishlist-page h2 {
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
}

.wishlist-items {
    list-style: none;
    padding: 0;
}

.wishlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.wishlist-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.wishlist-item-details {
    flex: 1;
}

.wishlist-item-actions button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.wishlist-item-actions button:hover {
    background-color: #2ecc7180;
}

/* Cart Page */

.cart-page h2 {
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.cart-item-details {
    flex: 1;
}

.cart-item-actions button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.cart-item-actions button:hover {
    background-color: #2ecc7180;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.checkout-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #27ae60;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    margin-left: 0.5rem;
    color: #555;
    text-decoration: none;
}

.social-links a:hover {
    color: #000;
}

/* Login Page */

.login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-page h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.login-page label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-page input[type="email"],
.login-page input[type="password"] {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.login-page input[type="email"]:focus,
.login-page input[type="password"]:focus {
    outline: none;
    border-color: #2ecc71;
    width: 100%;
}

.login-page button {
    display: block;
    width: 50%;
    margin: auto;
    padding: 0.75rem;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-page button:hover {
    background-color: #27ae60;
}

.login-page .social-login-buttons {
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-login-buttons button {
    margin: 0.5rem;
}

.login-page hr {
    margin: 1rem;
    border: none;
    border-bottom: #00000050 3px solid;
}

.login-page hr:hover {
    border-bottom: #00000050 3px dashed;
}

.login-page .register-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.login-page .register-link a {
    color: #2ecc71;
    text-decoration: none;
}

.login-page .register-link a:hover {
    text-decoration: underline;
}